/* src/css/Main.css */
.main-container {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  position: relative; /* 로고를 항상 중앙에 유지하기 위한 설정 */
}

.logo {
  position: absolute; /* 로고를 항상 중앙에 고정 */
  left: 50%; /* 부모 요소의 가운데로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
  height: 42px; /* 로고 크기 */
  width: auto;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이콘 간 간격 */
}

.icon {
  height: 20px; /* 기본 아이콘 크기 */
  width: 20px;
  object-fit: contain; /* 아이콘 비율 유지 */
  cursor: pointer; /* 포인터 스타일 */
  transition: transform 0.2s ease; /* 크기 변화 애니메이션 */
}

.icon:hover {
  transform: scale(1.1); /* 크기를 1.2배로 확대 */
}

.banner {
  background: linear-gradient(to top, #4e628e 0%, #223263 100%);
  color: #fff;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}


.title {
  font-size: 24px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 두 개의 카드 */
  gap: 15px; /* 카드 간 간격 */
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px; /* 이미지와 텍스트 간 간격 */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2px; /* 텍스트 간 간격 최소화 */
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  white-space: nowrap; /* 텍스트 한 줄로 제한 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 표시 */
  text-align: left; /* 제목 왼쪽 정렬 */
  margin: 5px 0 0 0; /* 기본 마진 제거 */
  line-height: 1.2; /* 텍스트 높이 조정 */
}

.card-subtitle {
  font-size: 12px;
  color: #888;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0; /* 기본 마진 제거 */
  line-height: 1.2; /* 텍스트 높이 조정 */
}

.card-group {
  font-size: 12px;
  color: #e74c3c; /* 빨간색 강조 */
}

.card-price {
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0 0 0; /* 기본 마진 제거 */
  line-height: 1.2; /* 텍스트 높이 조정 */
}

.card-period {
  font-size: 12px;
  color: #7f8c8d;
  margin: 5px 0 0 0; /* 기본 마진 제거 */
  line-height: 1.2; /* 텍스트 높이 조정 */
}
